.git
.github
.idea
.tmp
.vscode

**/node_modules
**/.next
**/.turbo
**/dist
**/coverage
**/test-results
**/*.tsbuildinfo

.env
.env.*
**/.env
**/.env.*
!**/.env.example

supabase/.temp
supabase/.branches
packages/contracts/cache
packages/contracts/out

docs
*.log
